<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/bootstrap/css/css")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </head>
    <body>
        @RenderBody()
        <div class="container-fluid">
            <div class="col-lg-12">
                11
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    11
                </div>
                <div class="col-lg-10">
                    11
                </div>
            </div>
            

        </div>
    </body>
</html>
